.project-img-container{
    position: relative;
}

.project-content{
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    transition: 0.3s;
    display: none;
}

.project-img-container:hover > .project-content{
    display: block;
    display: flex;
    color: white;
}